apiVersion: apps/v1
kind: Deployment
metadata:
  name: content-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: content-service
  template:
    metadata:
      labels:
        app: content-service
        type: backend-service
    spec:
      containers:
      - name: spring-boot
        image: cso2/content-service:latest
        ports:
        - containerPort: 8086
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: content-service-secrets
        # resources:
        #   requests:
        #     memory: "512Mi"
        #     cpu: "250m"
        #   limits:
        #     memory: "1Gi"
        #     cpu: "500m"
