apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-service
  template:
    metadata:
      labels:
        app: ai-service
        type: backend-service
    spec:
      serviceAccountName: ai-service-sa
      containers:
      - name: python-app
        image: cso2/ai-service:latest
        ports:
        - containerPort: 8089
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: ai-service-secrets
