apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications-service
  template:
    metadata:
      labels:
        app: notifications-service
    spec:
      containers:
      - name: spring-boot
        image: cso2/notifications-service:latest
        ports:
        - containerPort: 8087
        env:
        - name: SERVER_PORT
          value: "8087"
        - name: SPRING_DATA_MONGODB_DATABASE
          value: "notifications_db"
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secrets
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
